body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Profile_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Profile_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:15px;
    width:300px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:296px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:15px;
    width:300px;
    height:30px
}

.u4_original {
    background-image: url('../Profile_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:110px;
    top:50px;
    width:210px;
    height:90px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:96px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:206px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:110px;
    top:50px;
    width:210px;
    height:90px
}

.u6_original {
    background-image: url('../Profile_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:50px;
    width:90px;
    height:90px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u7 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:20px;
    top:50px;
    width:90px;
    height:90px
}

.u8 {
    position:absolute;
    left:213px;
    top:56px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u9 {
    position:absolute;
    left:20px;
    top:150px;
    width:310px;
    height:25px
}

.u9_table {
    background-image: url('../Profile_files/u9_table.png');
}

.u9_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:314px;
    height:29px;
}

.u10_original {
    background-image: url('../Profile_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:20px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:20px
}

.u12_original {
    background-image: url('../Profile_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:67px;
    top:0px;
    width:218px;
    height:20px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:214px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:67px;
    top:0px;
    width:218px;
    height:20px
}

.u14_original {
    background-image: url('../Profile_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:285px;
    top:0px;
    width:20px;
    height:20px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:285px;
    top:0px;
    width:20px;
    height:20px
}

#u16 {
    position:absolute;
    left:20px;
    top:190px;
    width:309px;
    height:45px
}

.u16_table {
    background-image: url('../Profile_files/u16_table.png');
}

.u16_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:49px;
}

.u17_original {
    background-image: url('../Profile_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:20px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:279px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:20px
}

.u19_original {
    background-image: url('../Profile_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:283px;
    top:0px;
    width:21px;
    height:20px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:283px;
    top:0px;
    width:21px;
    height:20px
}

.u21_original {
    background-image: url('../Profile_files/u17_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:20px;
    width:283px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:279px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:20px;
    width:283px;
    height:20px
}

.u23_original {
    background-image: url('../Profile_files/u19_original.png');
}

.u23_container {
    position:absolute;
    left:283px;
    top:20px;
    width:21px;
    height:20px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:283px;
    top:20px;
    width:21px;
    height:20px
}

.u25_menu {
    background-image: url('../Profile_files/u25_menu.png');
}

.u25_menu {
    position:absolute;
    left:11px;
    top:457px;
    width:315px;
    height:35px;
}

#u26 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u26_table {
    background-image: url('../Profile_files/u26_table.png');
}

.u26_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:29px;
}

.u27_original {
    background-image: url('../Profile_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px
}

.u29_original {
    background-image: url('../Profile_files/u27_original.png');
}

.u29_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px
}

.u31_original {
    background-image: url('../Profile_files/u27_original.png');
}

.u31_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px
}

