#xcode specific
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
#ignore private workspace user data
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

#generic files to ignore
.DS_Store
*~
*.lock
*.swp
*.out

#mobxserver dev override configurations
mobxserver/mobxserver/src/main/resources/settings/override/dev.properties
