<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">m06x$$*l</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.17:3306/mobx</property>
        <property name="hibernate.connection.username">mobx</property>
        <property name="hibernate.default_catalog">mobx</property>
        <property name="hibernate.default_schema">mobx</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    </session-factory>
</hibernate-configuration>
